<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>D&S HW #1: Git & HTML Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body>
    <!--all nav bars were bootstrap navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="info.html">User Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="books.html">Table of Books</a>
          </li>
      </div>
    </nav>

    <div class="bgimage" style="background-image:url('images/infobg.jpg')">
    <p class = "imgcitation"><cite>https://images.app.goo.gl/94aAvSa9kNCUny7XA</cite> From Google Images</p>
    </div>
    <div class="welcome">
      <h1>User Information</h1>
    </div>

    <div class="containeruser">
      <div class="row">
        <!-- <b>Name:</b><br> -->
        <div id="randomUsers" style="width: 100%;">

          <div class="col-sm">
          <div class="people peopleWaiting" v-for="people in peopleList">
            <!-- <p id="patientFName"></p> -->
            <a :href="people.large">
            <img v-bind:src="people.thumbnail" alt="">
          </a>
          </div>
        </div>

          <div class="col-sm">
          <span><b>Name:</b></span>
          <div class="people peopleWaiting" v-for="people in peopleList">
            <!-- <p id="patientFName"></p> -->
            <span>{{ people.first }} {{people.last}}</span>
          </div>
        </div>

        <div class="col-sm">
          <span><b>City:</b></span>
          <div class="people peopleWaiting" v-for="people in peopleList">
            <!-- <p id="patientFName"></p> -->
            <span>{{people.city}}</span>
          </div>
        </div>

        <div class="col-sm">
          <span><b>DOB:</b></span>
          <div class="people peopleWaiting" v-for="people in peopleList">
            <!-- <p id="patientFName"></p> -->
            <span>{{people.date}}</span>
          </div>
        </div>

        <div class="col-sm">
          <span><b>Age:</b></span>
          <div class="people peopleWaiting" v-for="people in peopleList">
            <!-- <p id="patientFName"></p> -->
            <span>{{people.age}}</span>
          </div>
        </div>

        <div class="col-sm">
          <span><b>Email:</b></span>
          <div class="people peopleWaiting">
            <!-- <p id="patientFName"></p> -->
            <a :href="`mailto:${peopleList.email}`">{{peopleList.email}}</a>
          </div>
        </div>
            <!-- <div class="col-sm"><b>City:</b><br>{{ people.city }}</div> -->
          <!-- <b>City:</b><br> -->
          <!-- <div id="randomUsers">
            <div class="people peopleWaiting" v-for="people in peopleList">
               <p id="patientFName"></p>
              <span>Name:</span>
              <span>{{ people.first }}{{people.last}}</span>
              <span>City:</span>
              <span>{{people.city}}</span>
              </div>
               <div class="col-sm"><b>City:</b><br>{{ people.city }}</div>
            </div> -->


          </div>
        </div>
      </div>

          <!-- <div id="randomUsers" class = col-sm>
            <span><b>Name:</b></span>
            <div class="people peopleWaiting" v-for="people in peopleList">
               <p id="patientFName"></p>
              <span>{{ people.first }} {{people.last}}</span>
            </div>

            <span><b>City:</b></span>
            <div class="people peopleWaiting" v-for="people in peopleList">
             <p id="patientFName"></p>
              <span>{{people.city}}</span>
            </div>

            <span><b>DOB:</b></span>
            <div class="people peopleWaiting" v-for="people in peopleList">
            <p id="patientFName"></p>
              <span>{{people.date}}</span>
            </div>

            <span><b>Age:</b></span>
            <div class="people peopleWaiting" v-for="people in peopleList">
          <p id="patientFName"></p>
              <span>{{people.age}}</span>
            </div>

            <span><b>Email:</b></span>
            <div class="people peopleWaiting">
               <p id="patientFName"></p>
              <span>{{peopleList.email}}</span>
            </div>

               <div class="col-sm"><b>City:</b><br>{{ people.city }}</div>
            </div> -->
            <!-- <b>City:</b><br> -->
            <!-- <div id="randomUsers">
              <div class="people peopleWaiting" v-for="people in peopleList">
                 <p id="patientFName"></p>
                <span>Name:</span>
                <span>{{ people.first }}{{people.last}}</span>
                <span>City:</span>
                <span>{{people.city}}</span>
                </div>
                 <div class="col-sm"><b>City:</b><br>{{ people.city }}</div>
              </div> -->
            </div>

        </div>
      </div>
          <!-- <div class="col-sm">
          <b>City:</b><br>
          <div class="people peopleWaiting" v-for="people in peopleList">
             <p id="patientFName"></p>
            {{ people.city }}
            </div>
           <div class="col-sm"><b>City:</b><br>{{ people.city }}</div>
          </div> -->


        <!-- <div class="col-sm">
          <a href="https://randomuser.me/api/portraits/men/67.jpg">
          <img src="https://randomuser.me/api/portraits/men/67.jpg" alt="Randy">
          </a>
          <p><cite>Random User</cite> From randomuser.me</p>
        </div> -->
        <!-- <div class="col-sm">
          <b>Name:</b><br>
          {{people.first}}
        </div>
        <div class="col-sm">
          <b>Country:</b><br>
          Thailand
        </div>
        <div class="col-sm">
          <b>DOB:</b><br>
          14 January 1990
        </div>
        <div class="col-sm">
          <b>Age:</b><br>
          29
        </div>
        <div class="col-sm">
          <b>Email:</b><br>
          <a href="mailto:rgarza@gmail.com">rgarza@gmail.com</a>
        </div> -->
      <!-- </div> -->

      <!-- <div class="row">
        <div class="col-sm">
          <a href="https://randomuser.me/api/portraits/men/64.jpg">
          <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="Joe">
          </a>
          <p><cite>Random User</cite> From randomuser.me</p>
        </div>
        <div class="col-sm">
          <b>Name:</b><br>
          {{ user.first }}
        </div>
        <div class="col-sm">
          <b>Country:</b><br>
          Denmark
        </div>
        <div class="col-sm">
          <b>DOB:</b><br>
          01 March 1985
        </div>
        <div class="col-sm">
          <b>Age:</b><br>
          34
        </div>
        <div class="col-sm">
          <b>Email:</b><br>
          <a href="mailto:jdaniels@gmail.com">jdaniels@gmail.com</a>
        </div>
      </div> -->
    <!-- </div>
  </div> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/randomProfile.js"></script>
  </body>
</html>
